.input-container {
  margin: 20px 10px;
  select {
    height: 42px;
  }
  label {
    padding: 10px 5px;
    font-size: 17px;
    display: inline-block;
    width: 30%;
    position: relative;
    box-sizing: border-box;
  }
  input[type="text"],
  select {
    padding: 10px 5px;
    font-size: 17px;
    border: 1px solid grey;
    display: inline-block;
    width: 70%;
    position: relative;
    box-sizing: border-box;
  }
}
.required {
  color: red;
}
