.user-container .action-btn-container {
    margin: 20px 10px;
    display: flex;
    justify-content: flex-end;
}

.user-container .action-btn {
    margin-left: 10px;
    width: 35%;
}

.user-list {
    margin: 20px 10px;
}
.user-list .action-btn{
    margin-top: 0;
    width: 100%;
}