.role-container {
  .action-btn-container {
    margin: 20px 10px;
    display: flex;
    justify-content: flex-end;
  }
  .action-btn {
    margin-left: 10px;
    width: 35%;
  }
}
.role-list {
  margin: 20px 10px;
  .action-btn {
    margin-top: 0;
    width: 100%;
  }
}
